body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  padding: 10px;
}

#display {
  grid-column: span 4;
  background-color: #f0f0f0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  font-size: 2em;
}

.number {
  background-color: #3498db;
  color: #fff;
  border: none;
  outline: none;
  height: 60px;
  font-size: 1.5em;
}

.operator {
  background-color: #e67e22;
  color: #fff;
  border: none;
  outline: none;
  height: 60px;
  font-size: 1.5em;
}


